.navbar {
	width: 100%;
	background-color: lightgray;
	padding: 10px;

	ul {
		padding: 0;
		margin: 0;
	}

	ul>li {
		display: inline;
		padding-right: 1em;
		margin: 0;
	}
}

.game {
	margin-right: 1em;
	background-color: white;
}

.main {
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;

	li {
		display: inline-block;
		width: 25%;
		border: 1px solid black;
	}
}
