<div>
	<div class="navbar">
		<ul>
			<li *ngFor="let action of actions"><button (click)="switchMenu(action)">{{action}}</button>
			</li>
		</ul>
	</div>
	<div class="container">
		<ul class="main" *ngFor="let num of [0, 1, 2, 3, 4]">
			<div *ngIf="selected == num">
				<button id="thebutton" type="submit" (click)="thefunction()">{{actions[selected]}}</button>
				<div class="param" *ngFor="let param of (params[num] | keyvalue)">
					<h3>{{param.key}}</h3>
					<input type="text" [value]="param.value" />
				</div>
			</div>
		</ul>
		<p id="output">Output will appear here.</p>
	</div>
</div>
