#navbar {
	width: 100%;
	background-color: lightgray;
	padding: 10px 0;

	ul {
		padding: 0;
		margin: 0;
	}

	ul>li {
		display: inline-flex;
		justify-content: space-evenly;
		width: 20%;
		padding: 0;
		margin: 0;
	}
}

#container {
	margin-bottom: 10%;
}

.main {
	text-align: center;
	display: flex;
	padding: 0;
	margin: 0;
	flex-direction: row;
	justify-content: center;

	.param {
		width: 100%;
		border: 1px solid black;
		flex-direction: column;
		display: flex;
	}

	button {
		margin-bottom: 2em;
	}
}
